.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  z-index: 1000;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
}


